# S01 Relational Databases

This focuses only on fundamental design ideas and how to run queries. Database optimizaiton, creation and data creation and manipulation (update, insert, deleete) operations are not covered.

## 1. Motivation

Why relational databases and SQL?

## 2. Parts of a relational database

### Tables

Represents a *subject* or an *event*.

### Columns

Represents a single *attribute*, *variable* or *feature*.

### Rows

Represents an *observation*.

### Keys

- Primary key represents a unique identifier of a row. It may be simple or composite.
  - Unique
  - Non-null
  - Never optional
- Foreign key is a column containing the primary key of a different table. It enforces *referential integrity*.

### Views

- Temporary virtual table retuned as a result of a *query*.
- Views only specify the strucutre of a table - the contents are constructed on the fly from existing tables.
- Queries return a Result Set

### Relationships

- One to one
- One to many
- Many to many

### Indexes

An index is a data structure that allows fast search of a column (typically from linear to log time complexity). Most databses will automatically build an index for every primary key column, but you can also manually specify columns to build indexes for.

## 3. Proper structure of a relational database

### Columns

- Use singlular form for name 
- Use informative names
- Use unique names not shared by any other table (except foreign keys)
- Column must be an attribute of the table's subject
- Eliminate multi-part columns
- Eliminate multi-value columsn
- Eliminate redundant columns

### Tables

- Use singular/plural forms for name (controversial)
- Enusre every table has a primary key
- Eliminate duplicate columns

### Relationships

- Esatblishing relationships
  - One to one
  - One to many
  - Many to many
- What happens on delete?
  - Restrict
  - Cascade
- Participation type and degree

## Exercise

Convert the flat file data in `data/flat.csv` into a well-structured relational database in SQLite3 stored as `data/faculty.db`. Note - salary information is confidential and should be kept in a separate table from other personal data.

In [151]:
flat = pd.read_csv('data/flat.csv', keep_default_na=False)
flat.sample(10)

,name,gender,age,height,weight,salary,nationality,code,country,language1,language2,language3
252,Cinderella Lambert,Female,53,1.98,39,111000,Iranian,IR,Iran,ECMAScript,C Shell,PHP
346,Delmar Harmon,Male,19,1.69,40,86000,Estonian,EE,Estonia,Kotlin,,
168,Beverlee Mullen,Female,66,1.58,74,75000,Russian,RU,Russia,J#,CoffeeScript,PL-I
887,Leeanne Carter,Female,44,1.54,70,131000,Cuban,CU,Cuba,Groovy,Haskell,Perl
178,Booker Ramos,Male,38,1.57,48,81000,Swiss,CH,Switzerland,Z shell,,
1280,Rodrigo Gallegos,Male,59,1.69,74,109000,Cuban,CU,Cuba,Fortran,JavaScript,
1347,Sena O'donnell,Female,42,1.66,70,72000,Irish,IE,Ireland,R,,
932,Londa Hewitt,Female,27,1.71,48,76000,Belgian,BE,Belgium,Common Lisp,Go,Java
211,Carlo Melendez,Male,45,1.90,68,70000,Iranian,IR,Iran,,,
369,Denyse Rowe,Female,38,1.94,61,110000,German,DE,Germany,ASP,C Shell,